@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

#loading-animation {
    background: #060606;
    color: #666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 12%;
}

.input-group-text {
    background-color: #1d1c1c;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.gauntlet-tabs .nav-link, .reinvest-tabs .nav-link {
    display: block;
    padding: 0.25rem 1rem;
}

.datepicker .disabled {
    color: #ff8c87 !important;
}

.datepicker :not(:first-child).old {
    color: inherit !important;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

#list-past-vanities {
    max-height: 175px;
    overflow: hidden;
    overflow-y: auto;
}